@model IEnumerable<Apartments.Owner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDOwner }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDOwner }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDOwner })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to apartments", "Index", "Apartment")
</p>